annotated-types==0.7.0
anyio==4.12.0
click==8.3.1
fastapi==0.110.0
h11==0.16.0
httptools==0.7.1
idna==3.11
pydantic==2.6.4
pydantic-core==2.16.3
python-dotenv==1.0.1
pyyaml==6.0.3
sqlalchemy==2.0.29
starlette==0.36.3
typing-extensions==4.15.0
uvicorn==0.29.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==15.0.1
